# 재무관리  개평자 사례

## 정기예금 적금 계산

In [7]:
# 단리 정기예금 원리금과 이자 계산

def main():
    
    interest_rate = float(input('이자율을 소숫점으로 입력: '))
    years = int(input('만기를 연으로 입력: '))
    principal = int(input('저축원금 입력: '))
    total=interest(principal, years, interest_rate)
    print("원리금:", format(total, ",.0f"))

def interest(deposit, maturity, rate):
    before_tax_sum = deposit * (1+rate *maturity)
    return before_tax_sum

main()

이자율을 소숫점으로 입력: 0.03
만기를 연으로 입력: 3
저축원금 입력: 1000000
원리금: 1,090,000

In [22]:
# 만기별 이자율을 반영한 정기예금 원리금 계산

def main():
    principal=int(input("원금 입력;"))
    maturity = float(input('만기 년수 입력'))
    rate = calc_rate(maturity)
    before_tax_sum = principal *(1+rate*maturity) 
    print('세전 원리금; ', format(before_tax_sum, ',.2f'), sep='')

def calc_rate(x):
    if x < 0.25:
        rate = 0.0135
    elif x >= 0.25 and x < 0.5:
        rate = 0.0145
    elif x >= 0.5 and x < 1:
        rate = 0.0155
    elif x >=1  and x <2:
        rate = 0.0165
    elif x >=2  and x <3:
        rate = 0.0175
    else:
        rate = 0.0185
    return rate

main()

원금 입력;1000000
만기 년수 입력3
세전 원리금; 1,055,500.00

In [39]:
#월복리 적금 원리금 계산

# A=installment r=interest rate n=maturity m=number of installments per year

import numpy as np

def main():
    
    A=int(input("월적립액 입력:"))
    r=float(input("연이자율 입력:"))
    m=int(input("연간 적립횟수 입력:"))
    n=int(input("만기년수 입력:"))
    taxrate=float(input("이자소득세율 입력:"))
    
    CF=np.ones((1,n*m))*A
    exponents=np.array(range(1,n*m+1))
    fvfs=(1+r/m)**exponents
    fv_installment=np.sum(CF*fvfs)
    after_tax=fv_installment-(fv_installment-A*m*n)*taxrate
    
    print("월복리 적금의 세전 원리금은",format(fv_installment,",.0f"), "입니다")
    print("월복리 적금의 세후 원리금은",format(after_tax,",.0f"), "입니다")
    
main()

월적립액 입력:500000
연이자율 입력:0.0246
연간 적립횟수 입력:12
만기년수 입력:3
이자소득세율 입력:0.154
월복리 적금의 세전 원리금은 18,699,265 입니다
월복리 적금의 세후 원리금은 18,591,578 입니다

In [40]:
# 목표 금액 마련을 위한 월 적립액 계산(월복리 정기예금)

from sympy.solvers import solve
from sympy import Symbol

target=int(input("목표금액을 입력;"))
r=float(input("이자율을 입력;"))
m=int(input("연 적립횟수를 입력;"))
n=int(input("만기년도를 입력;"))
taxrate=float(input("이자소득세율 입력:"))
A=Symbol("A")
    
CF=np.ones((1,n*m))*A
exponents=np.array(range(1,n*m+1))
fvfs=(1+r/m)**exponents
fv_installment=np.sum(CF*fvfs)
after_tax=fv_installment-(fv_installment-A*m*n)*taxrate
sol=solve(after_tax-target,A)  # Warning: sol is returned as a list

sol=sol[0]  
print("세후 목표금액 마련을 위한 월 적립액:", format(sol, ",.0f"))

목표금액을 입력;30000000
이자율을 입력;0.0246
연 적립횟수를 입력;12
만기년도를 입력;3
이자소득세율 입력:0.154
세후 목표금액 마련을 위한 월 적립액: 806,817

In [41]:
#단리 적금 원리금 계산

# A=installment r=interest rate n=maturity m=number of installments per year

import numpy as np

def main():
    
    A=int(input("월적립액 입력:"))
    r=float(input("연이자율 입력:"))
    m=int(input("연간 적립횟수 입력:"))
    n=int(input("만기년수 입력:"))
    taxrate=float(input("이자소득세율 입력;"))

    CF=np.ones((1,n*m))*A
    exponents=np.array(range(1,n*m+1))
    fvfs=(1+(r/m)*exponents)
    fv_installment=np.sum(CF*fvfs)
    after_tax=fv_installment-(fv_installment-A*m*n)*taxrate
    
    print("단리 적금의 세전 원리금은",format(fv_installment,",.0f"), "입니다")
    print("단리 적금의 세후 원리금은",format(after_tax,",.0f"), "입니다")
    
main()

월적립액 입력:500000
연이자율 입력:0.04
연간 적립횟수 입력:12
만기년수 입력:3
이자소득세율 입력;0.154
단리 적금의 세전 원리금은 19,110,000 입니다
월복리 적금의 세후 원리금은 18,939,060 입니다

In [42]:
# 목표 금액 마련을 위한 월 적립액 계산(단리 정기예금)

from sympy.solvers import solve
from sympy import Symbol

target=int(input("목표금액을 입력;"))
r=float(input("이자율을 입력;"))
m=int(input("연 적립횟수를 입력;"))
n=int(input("만기년도를 입력;"))
tax_rate=float(input("이자소득세율 입력;"))
A=Symbol("A")
    
CF=np.ones((1,n*m))*A
exponents=np.array(range(1,n*m+1))
fvfs=(1+(r/m)*exponents)
fv_installment=np.sum(CF*fvfs)
after_tax=fv_installment-(fv_installment-A*m*n)*taxrate
                          
sol=solve(after_tax-target,A)  # Warning: sol is returned as a list

sol=sol[0]  
print("세후 목표 금액 마련을 위한 월 적립액:", format(sol, ",.0f"))

목표금액을 입력;30000000
이자율을 입력;0.04
연 적립횟수를 입력;12
만기년도를 입력;3
이자소득세율 입력;0.154
월 적립액: 792,014

In [73]:
# 단리 적금 원리금 계산

class Install:
    
    def __init__(self, rate,maturity, amount):
        self.rate = rate
        self.maturity = maturity
        self.amount = amount
    
    def total(self):
        before_tax_sum=(self.amount*(12*self.maturity)*(2+(12*self.maturity+1)*(self.rate/12)))/2
        return before_tax_sum
    
class Install_sub(Install):
    def __init__(self,rate,maturity, amount):
        super().__init__(rate,maturity, amount)

    def interest(self):
        totalamount=super().total()
        interest=totalamount-(self.amount*12*self.maturity)
        return interest
    
def main():
    rate = float(input ("연이자율 입력: "))
    maturity = int(input("만기년수 입력: "))
    amount = int(input( "월적립액 입력: "))
    y = Install_sub(rate, maturity, amount) 
    print("세전원리금;", format(y.total(), ',.2f'))
    print("총이자액;", format(y.interest(), ',.2f'))

main()

연이자율 입력: 0.024
만기년수 입력: 3
월적립액 입력: 500000
세전원리금; 18,666,000.00
총이자액; 666,000.00

In [ ]:
install1=Install_sub(0.03,3,500000)
세전원리금=install1.total()
이자=install1.interest()
print(format(세전원리금,',.1f'), format(이자, ',.1f'))

## 연금 미래가치 현재가치

In [11]:
# 연금미래가치 계산(복리)

# A=payment r=period rate n=number of total payments m=number of payments per year

import numpy as np

def main():
    
    A=int(input("연금액 입력:"))
    r=float(input("이자율 입력:"))
    m=int(input("연간 연금횟수 입력:"))
    n=int(input("총 연금횟수 입력:"))

    
    CF=np.ones((1,n))*A
    exponents=np.array(range(0,n))
    fvfs=(1+r/m)**exponents
    fv_annuity=np.sum(CF*fvfs)
    print("연금의 미래가치는",format(fv_annuity,",.0f"), "입니다")
    
main()

연금액 입력:1000000
이자율 입력:0.048
연간 연금횟수 입력:12
총 연금횟수 입력:240
연금의 미래가치는 401,675,033 입니다

In [2]:
# 연금현재가치 계산(복리)

# A=payment r=period rate n=number of total payments m=number of payments per year

import numpy as np

def main():
    
    A=int(input("연금액 입력:"))
    r=float(input("이자율 입력:"))
    m=int(input("연간 연금횟수 입력:"))
    n=int(input("총 연금횟수 입력:"))

    
    CF=np.ones((1,n))*A
    exponents=np.array(range(1,n+1))
    fvfs=(1+r/m)**exponents
    pvfs=np.reciprocal(fvfs)
    pv_annuity=np.sum(CF*pvfs)
    print("연금의 현재가치는",format(pv_annuity,",.0f"), "입니다")
    
main()

연금액 입력:1000000
이자율 입력:0.06
연간 연금횟수 입력:12
총 연금횟수 입력:12
연금의 현재가치는 11,618,932 입니다

## 이표채 가격

In [43]:
# This is a python function for calculating price of copon bond
# face=par value                couponrate=coupon rate
# d= number of days to first coupon from today   
# q= coupon interval(days) 
# n=number of remaining coupons   m=coupon frequency per year
# yield=bond yield

import numpy as np

def couponprice(face,couponrate,d,q,n,m,bondyield):

    l=np.ones((1,n))
    coupon=face*(couponrate/m)
    coupons=coupon*l
    periodyield=1+(bondyield/m)
    exponents=(d/q)+np.array(range(n))
    pvfs=np.reciprocal(periodyield**exponents)
    price=np.sum(coupons*pvfs)+face*pvfs[n-1]

    return price

In [62]:
# This is a python function for calculating price of copon bond
# face=par value                couponrate=coupon rate
# d= number of days to first coupon from today   
# q= coupon interval(days) 
# n=number of remaining coupons   m=coupon frequency per year
# yield=bond yield

import numpy as np

def main():
    f=int(input("이표채 액면가 입력;"))
    c_rate=float(input("이표채 이표율 입력;"))
    d= int(input("다음 이표일까지 일수 입력;"))  
    q=int(input("이표 지급기간을 일수로 입력;"))  
    n=int(input("잔존 이표 횟수 입력;"))  
    m=int(input("연 이표지급횟수 입력;"))  
    B_yield=float(input("채권수익률 입력;"))
    bondprice=couponprice(f, c_rate, d,q,n,m,B_yield)
    print("이표채가격:", format( bondprice, ",.2f"))

def couponprice(face,couponrate,d,q,n,m,bondyield):

    l=np.ones((1,n))
    coupon=face*(couponrate/m)
    coupons=coupon*l
    periodyield=1+(bondyield/m)
    exponents=(d/q)+np.array(range(n))
    pvfs=np.reciprocal(periodyield**exponents)
    price=np.sum(coupons*pvfs)+face*pvfs[n-1]
    return price

main()

이표채 액면가 입력;10000
이표채 이표율 입력;0.05
다음 이표일까지 일수 입력;6
이표 지급기간을 일수로 입력;92
잔존 이표 횟수 입력;4
연 이표지급횟수 입력;4
채권수익률 입력;0.06
이표채가격: 10,042.44

In [46]:
# 만기수익률 계산 (not working yet)

import numpy as np
from sympy.solvers import solve
from sympy import Symbol
    
def main():
    f=10000
    c_rate= 0.05
    d= 6
    q= 92
    n= 4
    m= 4
    marketprice=10042
    x=Symbol("x")
    bondprice=couponprice(f,c_rate, d, q, n, m, x)
    ytm=solve(bondprice-marketprice,x)  # Warning: ytm is returned as a list
    print(ytm)
    
def couponprice(face,couponrate,d,q,n,m,bondyield):

    l=np.ones((1,n))
    coupon=face*(couponrate/m)
    coupons=coupon*l
    periodyield=1+(bondyield/m)
    exponents=(d/q)+np.array(range(n))
    pvfs=np.reciprocal(periodyield**exponents)
    price=np.sum(coupons*pvfs)+face*pvfs[n-1]
    
    return price

main()

[]

## 대출상환 스케쥴

In [98]:
# 원리금균등분할상환 상환 스케쥴

def main():
    
    principal=int(input("대출원금 입력:"))
    rate=float(input("이자율 입력:"))
    maturity=int(input("만기년수 입력:"))

    payment = (principal * (rate/12)) /(1 - (1 / (1 + (rate/12)) ** (maturity * 12)))
    print("회차","\t" ,"기초원금","\t" ,"월상환액","\t" ,"이자","\t","\t","상환원금","\t" ,"기말원금")
    print("------------------------------------------------------------------------------------")
    
    begBal = principal

    for num in range(1, maturity*12+1):
        interest = begBal * (rate /12)
        principalpay = payment - interest
        endBal = begBal - principalpay

        print(num,"\t" , format(begBal, "8,.0f"), "\t" ,format(payment, "8,.0f"),"\t" , \
              format(interest, "8,.0f"),"\t" , format(principalpay, "8,.0f"),"\t" , format(endBal, "8,.0f"))
        begBal = endBal
    
main()

대출원금 입력:10000000
이자율 입력:0.05
만기년수 입력:3
회차 	 기초원금 	 월상환액 	 이자 	 	 상환원금 	 기말원금
------------------------------------------------------------------------------------
1 	 10,000,000 	  299,709 	   41,667 	  258,042 	 9,741,958
2 	 9,741,958 	  299,709 	   40,591 	  259,117 	 9,482,840
3 	 9,482,840 	  299,709 	   39,512 	  260,197 	 9,222,643
4 	 9,222,643 	  299,709 	   38,428 	  261,281 	 8,961,362
5 	 8,961,362 	  299,709 	   37,339 	  262,370 	 8,698,992
6 	 8,698,992 	  299,709 	   36,246 	  263,463 	 8,435,529
7 	 8,435,529 	  299,709 	   35,148 	  264,561 	 8,170,968
8 	 8,170,968 	  299,709 	   34,046 	  265,663 	 7,905,304
9 	 7,905,304 	  299,709 	   32,939 	  266,770 	 7,638,534
10 	 7,638,534 	  299,709 	   31,827 	  267,882 	 7,370,652
11 	 7,370,652 	  299,709 	   30,711 	  268,998 	 7,101,655
12 	 7,101,655 	  299,709 	   29,590 	  270,119 	 6,831,536
13 	 6,831,536 	  299,709 	   28,465 	  271,244 	 6,560,292
14 	 6,560,292 	  299,709 	   27,335 	  272,374 	 6,287,917
15 	 6,287,917 	  299,709 	   26,200 	  273,509 	 6,014,408
16 	 6,014,408 	  299,709 	   25,060 	  274,649 	 5,739,759
17 	 5,739,759 	  299,709 	   23,916 	  275,793 	 5,463,966
18 	 5,463,966 	  299,709 	   22,767 	  276,942 	 5,187,023
19 	 5,187,023 	  299,709 	   21,613 	  278,096 	 4,908,927
20 	 4,908,927 	  299,709 	   20,454 	  279,255 	 4,629,672
21 	 4,629,672 	  299,709 	   19,290 	  280,419 	 4,349,253
22 	 4,349,253 	  299,709 	   18,122 	  281,587 	 4,067,666
23 	 4,067,666 	  299,709 	   16,949 	  282,760 	 3,784,906
24 	 3,784,906 	  299,709 	   15,770 	  283,939 	 3,500,967
25 	 3,500,967 	  299,709 	   14,587 	  285,122 	 3,215,845
26 	 3,215,845 	  299,709 	   13,399 	  286,310 	 2,929,536
27 	 2,929,536 	  299,709 	   12,206 	  287,503 	 2,642,033
28 	 2,642,033 	  299,709 	   11,008 	  288,700 	 2,353,333
29 	 2,353,333 	  299,709 	    9,806 	  289,903 	 2,063,429
30 	 2,063,429 	  299,709 	    8,598 	  291,111 	 1,772,318
31 	 1,772,318 	  299,709 	    7,385 	  292,324 	 1,479,994
32 	 1,479,994 	  299,709 	    6,167 	  293,542 	 1,186,451
33 	 1,186,451 	  299,709 	    4,944 	  294,765 	  891,686
34 	  891,686 	  299,709 	    3,715 	  295,994 	  595,692
35 	  595,692 	  299,709 	    2,482 	  297,227 	  298,465
36 	  298,465 	  299,709 	    1,244 	  298,465 	       -0

In [99]:
# 원금균등분할상환 스케쥴

def main():
    
    principal=int(input("대출원금 입력:"))
    rate=float(input("이자율 입력:"))
    maturity=int(input("만기년수 입력:"))

    principalpay=principal/(12*maturity)
    print("회차","\t" ,"기초원금","\t" ,"월상환액","\t" ,"이자","\t" ,"\t" ,"상환원금","\t" ,"기말원금")
    print("------------------------------------------------------------------------------------")
    
    begBal = principal

    for num in range(1, maturity*12+1):
        interest = begBal * (rate /12)
        payment=principalpay+interest
        endBal = begBal - principalpay
        print(num,"\t" , format(begBal, "7,.0f"), "\t" ,format(payment, "7,.0f"),"\t" , \
              format(interest, "7,.0f"),"\t" , format(principalpay, "7,.0f"),"\t" , format(endBal, "7,.0f"))
        begBal = endBal
    
main()

대출원금 입력:10000000
이자율 입력:0.05
만기년수 입력:3
회차 	 기초원금 	 월상환액 	 이자 	 	 상환원금 	 기말원금
------------------------------------------------------------------------------------
1 	 10,000,000 	 319,444 	  41,667 	 277,778 	 9,722,222
2 	 9,722,222 	 318,287 	  40,509 	 277,778 	 9,444,444
3 	 9,444,444 	 317,130 	  39,352 	 277,778 	 9,166,667
4 	 9,166,667 	 315,972 	  38,194 	 277,778 	 8,888,889
5 	 8,888,889 	 314,815 	  37,037 	 277,778 	 8,611,111
6 	 8,611,111 	 313,657 	  35,880 	 277,778 	 8,333,333
7 	 8,333,333 	 312,500 	  34,722 	 277,778 	 8,055,556
8 	 8,055,556 	 311,343 	  33,565 	 277,778 	 7,777,778
9 	 7,777,778 	 310,185 	  32,407 	 277,778 	 7,500,000
10 	 7,500,000 	 309,028 	  31,250 	 277,778 	 7,222,222
11 	 7,222,222 	 307,870 	  30,093 	 277,778 	 6,944,444
12 	 6,944,444 	 306,713 	  28,935 	 277,778 	 6,666,667
13 	 6,666,667 	 305,556 	  27,778 	 277,778 	 6,388,889
14 	 6,388,889 	 304,398 	  26,620 	 277,778 	 6,111,111
15 	 6,111,111 	 303,241 	  25,463 	 277,778 	 5,833,333
16 	 5,833,333 	 302,083 	  24,306 	 277,778 	 5,555,556
17 	 5,555,556 	 300,926 	  23,148 	 277,778 	 5,277,778
18 	 5,277,778 	 299,769 	  21,991 	 277,778 	 5,000,000
19 	 5,000,000 	 298,611 	  20,833 	 277,778 	 4,722,222
20 	 4,722,222 	 297,454 	  19,676 	 277,778 	 4,444,444
21 	 4,444,444 	 296,296 	  18,519 	 277,778 	 4,166,667
22 	 4,166,667 	 295,139 	  17,361 	 277,778 	 3,888,889
23 	 3,888,889 	 293,981 	  16,204 	 277,778 	 3,611,111
24 	 3,611,111 	 292,824 	  15,046 	 277,778 	 3,333,333
25 	 3,333,333 	 291,667 	  13,889 	 277,778 	 3,055,556
26 	 3,055,556 	 290,509 	  12,731 	 277,778 	 2,777,778
27 	 2,777,778 	 289,352 	  11,574 	 277,778 	 2,500,000
28 	 2,500,000 	 288,194 	  10,417 	 277,778 	 2,222,222
29 	 2,222,222 	 287,037 	   9,259 	 277,778 	 1,944,444
30 	 1,944,444 	 285,880 	   8,102 	 277,778 	 1,666,667
31 	 1,666,667 	 284,722 	   6,944 	 277,778 	 1,388,889
32 	 1,388,889 	 283,565 	   5,787 	 277,778 	 1,111,111
33 	 1,111,111 	 282,407 	   4,630 	 277,778 	 833,333
34 	 833,333 	 281,250 	   3,472 	 277,778 	 555,556
35 	 555,556 	 280,093 	   2,315 	 277,778 	 277,778
36 	 277,778 	 278,935 	   1,157 	 277,778 	      -0

In [101]:
# 원리금 균등분할상환

class Loan:
    
    def __init__(self, rate,maturity, principal):
        self.rate = rate
        self.maturity = maturity
        self.principal = principal
    
    def monthlypay(self):
        payment = (self.principal * (self.rate/12)) /\
        (1 - (1 / (1 + (self.rate/12)) ** (self.maturity * 12)))
        return payment
    
    def interest(self):
        firstinterest= (self.principal * (self.rate/12)) 
        return firstinterest   
   
    def principalpay(self):
        principalpay= self.monthlypay() -self.interest()
        return principalpay
    
    def balance(self):
        balance=self.principal-self.interest()
        return balance
    
    def totalinterest(self):
        totalinterest=self.monthlypay()*self.maturity*12-self.principal
        return totalinterest

def main():
    
    rate = float(input("연이자율 입력:"))
    maturity = int(input("만기년수 입력:"))
    principal = int(input("원금 입력:"))

    # 객체 생성
    x = Loan(rate,maturity,principal)
  
    print()
    print("월상환금은", format(x.monthlypay(), '6,.0f'), "입니다.")
    print("1회차이자는", format(x.interest(), '6,.0f'), "입니다.")
    print("1회차원금상환액은", format(x.principalpay(), '6,.0f'), "입니다.")
    print("상환후원금잔액은", format(x.balance(), '6,.0f'), "입니다.")
    print("총이자 부담액은", format(x.totalinterest(), '6,.0f'), "입니다.")

main()

연이자율 입력:0.05
만기년수 입력:5
원금 입력:10000000

월상환금은 188,712 입니다.
1회차이자는 41,667 입니다.
1회차원금상환액은 147,046 입니다.
상환후원금잔액은 9,958,333 입니다.
총이자 부담액은 1,322,740 입니다.

## 신용카드 할부 회전결제

In [95]:
# 신용카드 할부 스케쥴

def main():
    
    principal=int(input("카드사용금액 입력:"))
    rate=float(input("할부수수료율 입력:"))
    months=int(input("할부개월수 입력:"))

    principalpay=principal/(months)
    print("회차","\t" ,"기초원금","\t" ,"월상환액","\t" ,"수수료" ,"\t","상환원금","\t" ,"기말원금")
    print("------------------------------------------------------------------------------------")
    
    begBal = principal

    for num in range(1, months+1):
        fee = begBal * (rate /12)
        payment=principalpay+fee
        endBal = begBal - principalpay
        print(num,"\t" , format(begBal, "8,.0f"), "\t" ,format(payment, "8,.0f"),"\t" , \
              format(fee, "8,.0f"),"\t" ,format(principalpay, "8,.0f"),"\t" , format(endBal, "8,.0f"))
        begBal = endBal
    
main()

카드사용금액 입력:1000000
할부수수료율 입력:0.2
할부개월수 입력:9
회차 	 기초원금 	 월상환액 	 수수료 	 상환원금 	 기말원금
------------------------------------------------------------------------------------
1 	 1,000,000 	  127,778 	   16,667 	  111,111 	  888,889
2 	  888,889 	  125,926 	   14,815 	  111,111 	  777,778
3 	  777,778 	  124,074 	   12,963 	  111,111 	  666,667
4 	  666,667 	  122,222 	   11,111 	  111,111 	  555,556
5 	  555,556 	  120,370 	    9,259 	  111,111 	  444,444
6 	  444,444 	  118,519 	    7,407 	  111,111 	  333,333
7 	  333,333 	  116,667 	    5,556 	  111,111 	  222,222
8 	  222,222 	  114,815 	    3,704 	  111,111 	  111,111
9 	  111,111 	  112,963 	    1,852 	  111,111 	       -0

In [ ]:
# 회차별 할부 상환액 계산

class Creditcard:
    
    def __init__(self,months, amount):
        self.months = months
        self.amount = amount
    
    def monthlypay(self):
        monthlypay = self.amount/self.months
        return monthlypay
    
class Creditcard_1(Creditcard):
    def __init__(self,months, amount,rate,remainingmonths):
        super().__init__(months, amount)
        self.rate = rate
        self.remainingmonths=remainingmonths
        
    def monthlypay(self):
        principal=super().monthlypay()
        interest=principal*(self.remainingmonths)*(self.rate/12)
        totalpay=principal+interest
        return totalpay
def main():
    
    months = int(input ("할부개월수 입력: "))
    amount = int(input("카드사용액입력: "))
    rate = float(input( "할부수수료율을 입력: "))
    remainingmonths = int(input( "잔존회차 입력: "))
    y = Creditcard_1(months, amount,rate,remainingmonths)

    if isinstance(y, Creditcard_1):
        print("다음 결제일 총상환금은", format(y.monthlypay(), ',.2f'), "원입니다.")
    else:
        print('wrong object')

In [93]:
# 신용카드 회전결제 스케쥴

def main():
    
    principal=500000
    rate=0.21
    ratio=0.1
    minimumpay=10000
    
    print("회차", "\t","기초원금","\t" ,"월상환액","\t" ,"수수료" ,"\t","상환원금","\t" ,"기말원금")
    print("-----------------------------------------------------------------------------------------")
    
    begBal = principal
    count=0

    while begBal> 0:
        count=count+1
        principalpay=begBal*ratio
        
        if principalpay>minimumpay:
            principalpay=principalpay
        else:
            principalpay=minimumpay
        
        if begBal==principal:
            fee=0
        else:
            fee = begBal * (rate /12)
        
        if begBal<minimumpay:
            principalpay=begBal
            
        endBal = begBal - principalpay
        payment=principalpay+fee
        print(count,  "\t", format(begBal, "7,.0f"), "\t" ,format(payment, "7,.0f"),"\t" ,\
              format(fee, "7,.0f"),"\t", format(principalpay, "7,.0f"),"\t" , format(endBal, "7,.0f"))
        
        begBal = endBal
    
main()

회차 	 기초원금 	 월상환액 	 수수료 	 상환원금 	 기말원금
-----------------------------------------------------------------------------------------
1 	 500,000 	  50,000 	       0 	  50,000 	 450,000
2 	 450,000 	  52,875 	   7,875 	  45,000 	 405,000
3 	 405,000 	  47,588 	   7,087 	  40,500 	 364,500
4 	 364,500 	  42,829 	   6,379 	  36,450 	 328,050
5 	 328,050 	  38,546 	   5,741 	  32,805 	 295,245
6 	 295,245 	  34,691 	   5,167 	  29,524 	 265,720
7 	 265,720 	  31,222 	   4,650 	  26,572 	 239,148
8 	 239,148 	  28,100 	   4,185 	  23,915 	 215,234
9 	 215,234 	  25,290 	   3,767 	  21,523 	 193,710
10 	 193,710 	  22,761 	   3,390 	  19,371 	 174,339
11 	 174,339 	  20,485 	   3,051 	  17,434 	 156,905
12 	 156,905 	  18,436 	   2,746 	  15,691 	 141,215
13 	 141,215 	  16,593 	   2,471 	  14,121 	 127,093
14 	 127,093 	  14,933 	   2,224 	  12,709 	 114,384
15 	 114,384 	  13,440 	   2,002 	  11,438 	 102,946
16 	 102,946 	  12,096 	   1,802 	  10,295 	  92,651
17 	  92,651 	  11,621 	   1,621 	  10,000 	  82,651
18 	  82,651 	  11,446 	   1,446 	  10,000 	  72,651
19 	  72,651 	  11,271 	   1,271 	  10,000 	  62,651
20 	  62,651 	  11,096 	   1,096 	  10,000 	  52,651
21 	  52,651 	  10,921 	     921 	  10,000 	  42,651
22 	  42,651 	  10,746 	     746 	  10,000 	  32,651
23 	  32,651 	  10,571 	     571 	  10,000 	  22,651
24 	  22,651 	  10,396 	     396 	  10,000 	  12,651
25 	  12,651 	  10,221 	     221 	  10,000 	   2,651
26 	   2,651 	   2,697 	      46 	   2,651 	       0

## capital budgeting

In [27]:
import pandas as pd
npv=pd.read_excel("capbudget.xlsx",'Sheet1')
npv['OCF']=(npv['sales']-npv['cost']-npv['dep'])*(1-0.28)+npv['dep']-npv['NWCadd']
npv['pvfactor']=1/((1+0.1101)**npv["year"])
npv['pv_OCF']=npv['OCF']*npv['pvfactor']
npv

,year,sales,cost,dep,NWCadd,OCF,pvfactor,pv_OCF
0,1,40000.0,20000.0,12000.0000,0.0,17760.000000,0.900820,15998.558688
1,2,44000.0,22000.0,9600.0000,1000.0,17528.000000,0.811476,14223.555092
2,3,48400.0,24200.0,7680.0000,1100.0,18474.400000,0.730994,13504.671815
3,4,53240.0,26620.0,6144.0000,1210.0,19676.720000,0.658494,12956.995115
4,5,58564.0,29282.0,4915.2000,1331.0,21128.296000,0.593184,12532.968822
5,6,58564.0,29282.0,3932.1600,0.0,22184.044800,0.534352,11854.087202
6,7,58564.0,29282.0,3145.7280,0.0,21963.843840,0.481355,10572.401039
7,8,58564.0,29282.0,2516.5824,0.0,21787.683072,0.433614,9447.441863
8,9,58564.0,29282.0,66.0000,0.0,21101.520000,0.390608,8242.421430
9,10,58564.0,29282.0,0.0000,0.0,21083.040000,0.351867,7418.433470

In [28]:
npv_value=npv['pv_OCF'].sum()+24641*npv.iloc[9,6]-70000
npv_value

55421.89797139996

In [37]:
# calculating NPV

import pandas as pd
npv=pd.read_excel("capbudget.xlsx",'Sheet1')

ICF= -70000
TCF=24641
WACC=0.1101
taxrate=0.28

npv['OCF']=(npv['sales']-npv['cost']-npv['dep'])*(1-taxrate)+npv['dep']-npv['NWCadd']
npv['pvfactor']=1/((1+WACC)**npv["year"])
npv['pv_OCF']=npv['OCF']*npv['pvfactor']
npv_value=npv['pv_OCF'].sum()+TCF*npv.iloc[9,6]+ICF
print("순현재가치:", format(npv_value, ",.2f"))

순현재가치: 55,421.90

# risk analysis

In [5]:
import numpy as np
import pandas as pd

mu=100
sigma=10
simul=pd.DataFrame(np.random.normal(mu ,sigma, 5))
simul

            0
0  103.635664
1   97.807988
2  106.954366
3   98.847920
4  106.317763

In [4]:
import numpy as np
import pandas as pd

mu=100
sigma=10
simul=pd.DataFrame(np.random.normal(mu ,sigma, (10,4)))
simul

            0           1           2           3
0  114.062282  105.094449  119.044710   97.170462
1  105.046190  112.220824  100.241135   89.383607
2  104.537763  121.717093   99.437391   93.467709
3   93.965209  118.671334  100.704790   92.895387
4  107.534835  101.840787  106.151632   96.031738
5   95.983306  104.972140  107.938391   98.172010
6  105.756558  111.746276  106.978803  101.867337
7  100.132069   97.855566  100.044070   82.816344
8  108.416642  108.141799  111.797553   98.555605
9   93.127268   94.477377  110.389331  111.600924

In [20]:
# EAR 계산

import numpy as np
import pandas as pd
%matplotlib tk

np.random.seed(10)
M=30000
ex_mu=1080
ex_sigma=40
ear=pd.DataFrame(np.random.normal(ex_mu ,ex_sigma, (M,4)))
ear.columns=['Q1rate','Q2rate','Q3rate','Q4rate']
ear["revenue"]=ear['Q1rate']*200000+ear['Q2rate']*180000+ear['Q3rate']*200000+ear['Q4rate']*240000
ear['NP']=ear["revenue"]*0.1*(1-0.2)
ear['NPgroup']=pd.cut(ear["NP"],bins=100)
table=pd.crosstab(index=ear["NPgroup"],columns='빈도')
table["확률"]=table["빈도"]/M
table["누적확률"]=table["확률"].cumsum()

print(table)

%matplotlib tk
ear['NP'].plot.hist(100)

col_0                          빈도        확률      누적확률
NPgroup
(65305734.253, 65433389.644]    1  0.000033  0.000033
(65781540.71, 65897591.065]     1  0.000033  0.000067
(65897591.065, 66013641.42]     2  0.000067  0.000133
(66013641.42, 66129691.776]     1  0.000033  0.000167
(66129691.776, 66245742.131]    2  0.000067  0.000233
(66245742.131, 66361792.486]    6  0.000200  0.000433
(66361792.486, 66477842.842]    4  0.000133  0.000567
(66477842.842, 66593893.197]    9  0.000300  0.000867
(66593893.197, 66709943.552]    9  0.000300  0.001167
(66709943.552, 66825993.908]    9  0.000300  0.001467
(66825993.908, 66942044.263]   11  0.000367  0.001833
(66942044.263, 67058094.618]   14  0.000467  0.002300
(67058094.618, 67174144.974]   19  0.000633  0.002933
(67174144.974, 67290195.329]   26  0.000867  0.003800
(67290195.329, 67406245.684]   34  0.001133  0.004933
(67406245.684, 67522296.039]   45  0.001500  0.006433
(67522296.039, 67638346.395]   54  0.001800  0.008233
(67638346.395, 67754396.75]    62  0.002067  0.010300
(67754396.75, 67870447.105]    73  0.002433  0.012733
(67870447.105, 67986497.461]  103  0.003433  0.016167
(67986497.461, 68102547.816]  121  0.004033  0.020200
(68102547.816, 68218598.171]  110  0.003667  0.023867
(68218598.171, 68334648.527]  159  0.005300  0.029167
(68334648.527, 68450698.882]  186  0.006200  0.035367
(68450698.882, 68566749.237]  205  0.006833  0.042200
(68566749.237, 68682799.593]  256  0.008533  0.050733
(68682799.593, 68798849.948]  305  0.010167  0.060900
(68798849.948, 68914900.303]  348  0.011600  0.072500
(68914900.303, 69030950.659]  378  0.012600  0.085100
(69030950.659, 69147001.014]  446  0.014867  0.099967
...                           ...       ...       ...
(72512461.318, 72628511.673]  439  0.014633  0.915000
(72628511.673, 72744562.029]  370  0.012333  0.927333
(72744562.029, 72860612.384]  337  0.011233  0.938567
(72860612.384, 72976662.739]  276  0.009200  0.947767
(72976662.739, 73092713.094]  278  0.009267  0.957033
(73092713.094, 73208763.45]   211  0.007033  0.964067
(73208763.45, 73324813.805]   195  0.006500  0.970567
(73324813.805, 73440864.16]   164  0.005467  0.976033
(73440864.16, 73556914.516]   146  0.004867  0.980900
(73556914.516, 73672964.871]  136  0.004533  0.985433
(73672964.871, 73789015.226]   86  0.002867  0.988300
(73789015.226, 73905065.582]   70  0.002333  0.990633
(73905065.582, 74021115.937]   69  0.002300  0.992933
(74021115.937, 74137166.292]   47  0.001567  0.994500
(74137166.292, 74253216.648]   28  0.000933  0.995433
(74253216.648, 74369267.003]   37  0.001233  0.996667
(74369267.003, 74485317.358]   20  0.000667  0.997333
(74485317.358, 74601367.714]   12  0.000400  0.997733
(74601367.714, 74717418.069]   11  0.000367  0.998100
(74717418.069, 74833468.424]   10  0.000333  0.998433
(74833468.424, 74949518.779]   14  0.000467  0.998900
(74949518.779, 75065569.135]    6  0.000200  0.999100
(75065569.135, 75181619.49]     8  0.000267  0.999367
(75181619.49, 75297669.845]     4  0.000133  0.999500
(75297669.845, 75413720.201]    7  0.000233  0.999733
(75413720.201, 75529770.556]    3  0.000100  0.999833
(75529770.556, 75645820.911]    2  0.000067  0.999900
(75877921.622, 75993971.977]    1  0.000033  0.999933
(75993971.977, 76110022.333]    1  0.000033  0.999967
(76806324.464, 76922374.82]     1  0.000033  1.000000

[89 rows x 3 columns]

In [12]:
%matplotlib tk
ear['NP'].plot.hist(100)

# net working capital OC mgt

In [7]:
import pandas as pd
import numpy as np

np.random.seed(10)
sales_mu, sales_sigma= 3000, 100
inv_mu, inv_sigma=200, 10
receiv_mu, receiv_sigma=400, 11
pay_mu, pay_sigma=120, 9

np.random.seed(100)
M=50000
sales=pd.DataFrame(np.random.normal(sales_mu,sales_sigma , M))
inv=pd.DataFrame(np.random.normal(inv_mu, inv_sigma, M))
receiv=pd.DataFrame(np.random.normal(receiv_mu,receiv_sigma , M))
pay=pd.DataFrame(np.random.normal(pay_mu,pay_sigma , M))

simul=pd.concat([sales,inv], axis=1)
simul=pd.concat([simul, receiv],axis=1)
simul=pd.concat([simul, pay],axis=1)

simul.columns=('sales','inventory','receivables','payables')
simul["NWC"]=simul['inventory']+simul['receivables']-simul['payables']
simul['inv_days']=365/(simul['sales']/simul['inventory'])
simul['receiv_days']=365/(simul['sales']/simul['receivables'])
simul['OC']=simul['inv_days']+simul['receiv_days']
simul.head()

,sales,inventory,receivables,payables,NWC,inv_days,receiv_days,OC
0,2825.023453,208.627970,409.681674,111.503497,506.806147,26.955248,52.931883,79.887132
1,3034.268040,198.600540,410.217648,129.603436,479.214753,23.890176,49.346149,73.236324
2,3115.303580,198.393842,397.054483,106.137116,489.311209,23.244525,46.520309,69.764834
3,2974.756396,204.180310,397.048925,132.118720,469.110515,25.052745,48.717555,73.770300
4,3098.132079,197.723090,410.480142,125.356390,482.846842,23.294335,48.359866,71.654201

In [8]:
%matplotlib tk
simul['OC'].plot.hist(100)

In [44]:
simul['OCgroup']=pd.cut(simul["OC"],bins=70)
table=pd.crosstab(index=simul["OCgroup"],columns='빈도')
table["확률"]=table["빈도"]/M
table["누적확률"]=table["확률"].cumsum()
table

col_0               빈도       확률     누적확률
OCgroup
(61.774, 62.17]      3  0.00006  0.00006
(62.54, 62.91]       2  0.00004  0.00010
(62.91, 63.28]       6  0.00012  0.00022
(63.28, 63.65]       7  0.00014  0.00036
(63.65, 64.02]      14  0.00028  0.00064
(64.02, 64.39]      29  0.00058  0.00122
(64.39, 64.76]      33  0.00066  0.00188
(64.76, 65.13]      42  0.00084  0.00272
(65.13, 65.5]       77  0.00154  0.00426
(65.5, 65.869]      92  0.00184  0.00610
(65.869, 66.239]   122  0.00244  0.00854
(66.239, 66.609]   200  0.00400  0.01254
(66.609, 66.979]   269  0.00538  0.01792
(66.979, 67.349]   327  0.00654  0.02446
(67.349, 67.719]   435  0.00870  0.03316
(67.719, 68.089]   563  0.01126  0.04442
(68.089, 68.459]   711  0.01422  0.05864
(68.459, 68.829]   912  0.01824  0.07688
(68.829, 69.199]  1074  0.02148  0.09836
(69.199, 69.569]  1249  0.02498  0.12334
(69.569, 69.939]  1425  0.02850  0.15184
(69.939, 70.309]  1639  0.03278  0.18462
(70.309, 70.679]  1713  0.03426  0.21888
(70.679, 71.049]  1928  0.03856  0.25744
(71.049, 71.419]  2083  0.04166  0.29910
(71.419, 71.789]  2327  0.04654  0.34564
(71.789, 72.159]  2215  0.04430  0.38994
(72.159, 72.529]  2389  0.04778  0.43772
(72.529, 72.899]  2395  0.04790  0.48562
(72.899, 73.269]  2463  0.04926  0.53488
...                ...      ...      ...
(75.489, 75.859]  1573  0.03146  0.82104
(75.859, 76.229]  1393  0.02786  0.84890
(76.229, 76.599]  1243  0.02486  0.87376
(76.599, 76.969]  1107  0.02214  0.89590
(76.969, 77.339]   932  0.01864  0.91454
(77.339, 77.709]   803  0.01606  0.93060
(77.709, 78.079]   690  0.01380  0.94440
(78.079, 78.449]   549  0.01098  0.95538
(78.449, 78.819]   488  0.00976  0.96514
(78.819, 79.189]   367  0.00734  0.97248
(79.189, 79.559]   299  0.00598  0.97846
(79.559, 79.929]   242  0.00484  0.98330
(79.929, 80.299]   191  0.00382  0.98712
(80.299, 80.668]   155  0.00310  0.99022
(80.668, 81.038]   121  0.00242  0.99264
(81.038, 81.408]    91  0.00182  0.99446
(81.408, 81.778]    75  0.00150  0.99596
(81.778, 82.148]    48  0.00096  0.99692
(82.148, 82.518]    42  0.00084  0.99776
(82.518, 82.888]    37  0.00074  0.99850
(82.888, 83.258]    25  0.00050  0.99900
(83.258, 83.628]    15  0.00030  0.99930
(83.628, 83.998]    10  0.00020  0.99950
(83.998, 84.368]     8  0.00016  0.99966
(84.368, 84.738]     2  0.00004  0.99970
(84.738, 85.108]     4  0.00008  0.99978
(85.108, 85.478]     5  0.00010  0.99988
(85.478, 85.848]     2  0.00004  0.99992
(85.848, 86.218]     2  0.00004  0.99996
(87.328, 87.698]     2  0.00004  1.00000

[66 rows x 3 columns]

In [19]:
%matplotlib tk
simul['OC'].plot.hist(100)

In [20]:
simul['OCgroup']=pd.cut(simul["OC"],bins=70)
table=pd.crosstab(index=simul["OCgroup"],columns='빈도')
table["확률"]=table["빈도"]/M
table["누적확률"]=table["확률"].cumsum()
table

col_0               빈도       확률     누적확률
OCgroup
(61.774, 62.17]      3  0.00006  0.00006
(62.54, 62.91]       2  0.00004  0.00010
(62.91, 63.28]       6  0.00012  0.00022
(63.28, 63.65]       7  0.00014  0.00036
(63.65, 64.02]      14  0.00028  0.00064
(64.02, 64.39]      29  0.00058  0.00122
(64.39, 64.76]      33  0.00066  0.00188
(64.76, 65.13]      42  0.00084  0.00272
(65.13, 65.5]       77  0.00154  0.00426
(65.5, 65.869]      92  0.00184  0.00610
(65.869, 66.239]   122  0.00244  0.00854
(66.239, 66.609]   200  0.00400  0.01254
(66.609, 66.979]   269  0.00538  0.01792
(66.979, 67.349]   327  0.00654  0.02446
(67.349, 67.719]   435  0.00870  0.03316
(67.719, 68.089]   563  0.01126  0.04442
(68.089, 68.459]   711  0.01422  0.05864
(68.459, 68.829]   912  0.01824  0.07688
(68.829, 69.199]  1074  0.02148  0.09836
(69.199, 69.569]  1249  0.02498  0.12334
(69.569, 69.939]  1425  0.02850  0.15184
(69.939, 70.309]  1639  0.03278  0.18462
(70.309, 70.679]  1713  0.03426  0.21888
(70.679, 71.049]  1928  0.03856  0.25744
(71.049, 71.419]  2083  0.04166  0.29910
(71.419, 71.789]  2327  0.04654  0.34564
(71.789, 72.159]  2215  0.04430  0.38994
(72.159, 72.529]  2389  0.04778  0.43772
(72.529, 72.899]  2395  0.04790  0.48562
(72.899, 73.269]  2463  0.04926  0.53488
...                ...      ...      ...
(75.489, 75.859]  1573  0.03146  0.82104
(75.859, 76.229]  1393  0.02786  0.84890
(76.229, 76.599]  1243  0.02486  0.87376
(76.599, 76.969]  1107  0.02214  0.89590
(76.969, 77.339]   932  0.01864  0.91454
(77.339, 77.709]   803  0.01606  0.93060
(77.709, 78.079]   690  0.01380  0.94440
(78.079, 78.449]   549  0.01098  0.95538
(78.449, 78.819]   488  0.00976  0.96514
(78.819, 79.189]   367  0.00734  0.97248
(79.189, 79.559]   299  0.00598  0.97846
(79.559, 79.929]   242  0.00484  0.98330
(79.929, 80.299]   191  0.00382  0.98712
(80.299, 80.668]   155  0.00310  0.99022
(80.668, 81.038]   121  0.00242  0.99264
(81.038, 81.408]    91  0.00182  0.99446
(81.408, 81.778]    75  0.00150  0.99596
(81.778, 82.148]    48  0.00096  0.99692
(82.148, 82.518]    42  0.00084  0.99776
(82.518, 82.888]    37  0.00074  0.99850
(82.888, 83.258]    25  0.00050  0.99900
(83.258, 83.628]    15  0.00030  0.99930
(83.628, 83.998]    10  0.00020  0.99950
(83.998, 84.368]     8  0.00016  0.99966
(84.368, 84.738]     2  0.00004  0.99970
(84.738, 85.108]     4  0.00008  0.99978
(85.108, 85.478]     5  0.00010  0.99988
(85.478, 85.848]     2  0.00004  0.99992
(85.848, 86.218]     2  0.00004  0.99996
(87.328, 87.698]     2  0.00004  1.00000

[66 rows x 3 columns]

## 부도위험 simluation

In [3]:
import pandas as pd
import numpy as np

# fcff simulation

np.random.seed(10)
NI_now=2338
dep_now=1300
receiv_now=3906
inv_now=1961
pay_now=1268
NWC_now=receiv_now+inv_now-pay_now

NI_mu, NI_sigma=NI_now, 400
receiv_mu, receiv_sigma=receiv_now, 200
inv_mu, inv_sigma=inv_now, 100
pay_mu, pay_sigma=pay_now, 50

M=50000

NI=pd.DataFrame(np.random.normal(NI_mu,NI_sigma , M))
receiv=pd.DataFrame(np.random.normal(receiv_mu,receiv_sigma , M))
inv=pd.DataFrame(np.random.normal(inv_mu, inv_sigma, M))
pay=pd.DataFrame(np.random.normal(pay_mu,pay_sigma , M))

simul=pd.concat([NI,receiv], axis=1)
simul=pd.concat([simul, inv],axis=1)
simul=pd.concat([simul, pay],axis=1)

simul.columns=('NI_est','receivables_est', 'inventory_est','payables_est')
simul["NWC_est"]=simul['receivables_est']+simul['inventory_est']-simul['payables_est']
simul["NWCadd"]=simul['NWC_est']-NWC_now
simul["fcff_est"]=simul['NI_est']+dep_now-simul["NWCadd"]

# 기말 현금보유액 simulation
cash_now=1103
simul["cash_est"]=simul['fcff_est']+cash_now
simul.sample(5)

,NI_est,receivables_est,inventory_est,payables_est,NWC_est,NWCadd,fcff_est,cash_est
10452,2010.797596,3713.844476,1905.788159,1187.064801,4432.567834,-166.432166,3477.229762,4580.229762
11453,2859.718316,3741.471715,2028.551091,1297.813187,4472.209619,-126.790381,4286.508696,5389.508696
17541,2488.280160,3838.345807,1807.095251,1271.960614,4373.480444,-225.519556,4013.799716,5116.799716
11360,1924.557442,3984.562069,1906.301138,1302.797626,4588.065581,-10.934419,3235.491861,4338.491861
36149,3476.525522,3969.744645,1985.611944,1329.623224,4625.733365,26.733365,4749.792157,5852.792157

In [4]:
%matplotlib tk
simul['cash_est'].plot.hist(100)

In [6]:
simul['cash_group']=pd.cut(simul["cash_est"],bins=70)
table=pd.crosstab(index=simul["cash_group"],columns='빈도')
table["확률"]=table["빈도"]/M
table["누적확률"]=table["확률"].cumsum()
table

col_0                   빈도       확률     누적확률
cash_group
(2805.915, 2869.138]     2  0.00004  0.00004
(2928.225, 2987.313]     2  0.00004  0.00008
(2987.313, 3046.4]       2  0.00004  0.00012
(3046.4, 3105.487]       5  0.00010  0.00022
(3105.487, 3164.575]     8  0.00016  0.00038
(3164.575, 3223.662]     9  0.00018  0.00056
(3223.662, 3282.749]    18  0.00036  0.00092
(3282.749, 3341.837]    17  0.00034  0.00126
(3341.837, 3400.924]    29  0.00058  0.00184
(3400.924, 3460.012]    29  0.00058  0.00242
(3460.012, 3519.099]    62  0.00124  0.00366
(3519.099, 3578.186]    67  0.00134  0.00500
(3578.186, 3637.274]   131  0.00262  0.00762
(3637.274, 3696.361]   180  0.00360  0.01122
(3696.361, 3755.448]   234  0.00468  0.01590
(3755.448, 3814.536]   284  0.00568  0.02158
(3814.536, 3873.623]   409  0.00818  0.02976
(3873.623, 3932.71]    464  0.00928  0.03904
(3932.71, 3991.798]    611  0.01222  0.05126
(3991.798, 4050.885]   697  0.01394  0.06520
(4050.885, 4109.972]   909  0.01818  0.08338
(4109.972, 4169.06]   1093  0.02186  0.10524
(4169.06, 4228.147]   1285  0.02570  0.13094
(4228.147, 4287.235]  1441  0.02882  0.15976
(4287.235, 4346.322]  1605  0.03210  0.19186
(4346.322, 4405.409]  1826  0.03652  0.22838
(4405.409, 4464.497]  2066  0.04132  0.26970
(4464.497, 4523.584]  2235  0.04470  0.31440
(4523.584, 4582.671]  2417  0.04834  0.36274
(4582.671, 4641.759]  2376  0.04752  0.41026
...                    ...      ...      ...
(4996.283, 5055.37]   2176  0.04352  0.75080
(5055.37, 5114.458]   1956  0.03912  0.78992
(5114.458, 5173.545]  1721  0.03442  0.82434
(5173.545, 5232.632]  1619  0.03238  0.85672
(5232.632, 5291.72]   1346  0.02692  0.88364
(5291.72, 5350.807]   1198  0.02396  0.90760
(5350.807, 5409.894]   989  0.01978  0.92738
(5409.894, 5468.982]   847  0.01694  0.94432
(5468.982, 5528.069]   653  0.01306  0.95738
(5528.069, 5587.156]   533  0.01066  0.96804
(5587.156, 5646.244]   398  0.00796  0.97600
(5646.244, 5705.331]   321  0.00642  0.98242
(5705.331, 5764.418]   238  0.00476  0.98718
(5764.418, 5823.506]   191  0.00382  0.99100
(5823.506, 5882.593]   128  0.00256  0.99356
(5882.593, 5941.68]    105  0.00210  0.99566
(5941.68, 6000.768]     69  0.00138  0.99704
(6000.768, 6059.855]    43  0.00086  0.99790
(6059.855, 6118.943]    28  0.00056  0.99846
(6118.943, 6178.03]     26  0.00052  0.99898
(6178.03, 6237.117]     16  0.00032  0.99930
(6237.117, 6296.205]    19  0.00038  0.99968
(6296.205, 6355.292]     6  0.00012  0.99980
(6414.379, 6473.467]     2  0.00004  0.99984
(6473.467, 6532.554]     2  0.00004  0.99988
(6532.554, 6591.641]     2  0.00004  0.99992
(6591.641, 6650.729]     1  0.00002  0.99994
(6650.729, 6709.816]     1  0.00002  0.99996
(6827.991, 6887.078]     1  0.00002  0.99998
(6887.078, 6946.166]     1  0.00002  1.00000

[66 rows x 3 columns]